<!--
Placeholders:
> Surround with {{{placeholder}}}
> link - Post link
> id - Post id
-->

<li>
                <br class="clear">
                <div>
                  <div class="message-info">
                    <!--<img class="avatar" src="soon">-->
                    <span class="tag">Post {{{id}}}</span>
                  </div>
                </div>
                <p class="message-text"><a href="{{{link}}}">Visit here!</a></p>
                
                
              </li>
